
<script src="../scripts/DateTimePicker.js"></script>
<div ng-controller="SessionController as s" novalidate>
    <a>Practice:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.practice" class="form-control" placeholder="Bobs Accounting" title="Practice"></textarea>
    </fieldset>
    <!--<a>Client:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.client" class="form-control" placeholder="Bob the Plumber" title="Client"></textarea>
    </fieldset>-->
    <a>Owner of Session:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.Owner" class="form-control" placeholder="Owner" title="Owner of the session"></textarea>
    </fieldset>
    <a>Topic:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.Topic" class="form-control" placeholder="Topic" title="Topic for discussion"></textarea>
    </fieldset>
    <a>Welcome Message:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.Welcome" class="form-control" placeholder="Welcome message..." title="Message that the discussion is started with"></textarea>
    </fieldset>

    <!--<div class="form-group">
        <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
        <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="dtp_input1" value="" /><br />
    </div>-->


    <!--<button type="button" ng-click="s.CreateSession()" class="btn btn-default">Add Client</button>-->

    <a>Name:</a>
    <fieldset class="form-group">
        <textarea required ng-model="s.name" class="form-control" placeholder="Bob Smith" title="Participants name"></textarea>
    </fieldset>
    <a>Email:</a>
    <fieldset class="form-group">
        <input required ng-model="s.email" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
    </fieldset>

    <button type="button" ng-click="s.AddParticipant(s.name,s.email)" class="btn btn-default">Add Participant</button>

    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-repeat="participant in s.participants">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Name: {{participant.Name}} Email: {{participant.Email}}</li>
                </ul>
            </div>
        </div>
    </div>

        
    <button type="button" ng-click="s.CreateSession()" class="btn btn-default">Create Session</button>

    </div>




