<div ng-controller="SessionController as s" novalidate>
    <fieldset class="form-group">
        <textarea required ng-model="reviewCtrl.review.body" class="form-control" placeholder="Owner" title="Owner of the session"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <textarea required ng-model="reviewCtrl.review.body" class="form-control" placeholder="Topic" title="Topic for discussion"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <textarea required ng-model="reviewCtrl.review.body" class="form-control" placeholder="Welcome message..." title="Message that the discussion is started with"></textarea>
    </fieldset>
</div>
